<div class="container align-content-center col-md-4">

    <h2 style=" padding-left: 20px;">Авторизация</h2>
    <form name="form" (ngSubmit)="f.form.valid && loginUser()" #f="ngForm" novalidate class="col-xs-8">
      <div class="form-group">
        <label for="username">Логин <i class="fa fa-userEntity"></i></label>
        <input pTooltip="Введите ваш логин" id="username" type="text" class="form-control"
               name="login" [(ngModel)]="model.login" #login="ngModel"
               minlength="3"
               pattern="^[a-zA-Z]+$"
               maxlength="15"
               required/>
        <div [hidden]="login.valid || login.pristine" class="alert alert-warning">
          <div [hidden]="!login.hasError('required')">Обезательное поле</div>
          <div [hidden]="!login.hasError('minlength') ">Длинна больше 3</div>
          <div [hidden]="!login.hasError('pattern')|| (login.hasError('minlength'))">
            Только латинские символы
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Пароль <i class="fa fa-key"></i> </label>

        <input pTooltip="Введите ваш пароль" id="password" type="password" class="form-control"
               name="password" [(ngModel)]="model.password" #password="ngModel"
               minlength="5"
               maxlength="15"
               required/>
        <div [hidden]="password.valid || password.pristine" class="alert alert-warning">
          <div [hidden]="!password.hasError('required')">Обезательное поле</div>
          <div [hidden]="!password.hasError('minlength') ">Длинна больше 5</div>
        </div>
      </div>
      <div  [hidden]="loading" class="alert alert-warning" id="incorrect">Логин или пароль не верны</div>

      <div class="form-group">
        <button [disabled]="!f.form.valid" class="btn btn-primary">Вход</button>
        <a [routerLink]="['/registration']" class="btn btn-primary">Регистрация</a>

      </div>
    </form>
  </div>

